.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 colonne */
  grid-template-rows: repeat(3, auto); /* 3 righe automatiche */
  grid-gap: 10px;
  padding: 20px;
  min-height: 100vh;
  background-color: #f0f0f0;
  justify-content: center; /* Centra il contenuto orizzontalmente */
  align-items: center; /* Centra il contenuto verticalmente */
}

#myForm {
  display: contents; /* Permette agli elementi figli di partecipare al layout della griglia */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item {
  grid-column: span 1; /* Ogni elemento occupa una colonna */
}

label {
  font-weight: normal !important;
  line-height: 12px;
  margin: 0;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #00ADC6;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  grid-column: 1 / 1; 
  background-color: green;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}